.status-info {
  margin: 30px 0;
  .status {
    padding: 30px;
    text-align: center;
    color: $body-bg;
    font-size: 20px;
  }
  .status--warning {
    background: $brand-warning;
  }
  .status--error {
    background: $brand-danger;
  }
  .status--success {
    background: $brand-success;
  }
}

.list--status {
  padding-left: 25px;
  li {
    padding: 5px 0;
  }
}

.form-group:last-of-type {
  margin-bottom: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
